body{
    background-color:#f5f5f5;
}
header{
    background-color: #333333;
    padding: 1px;
}
h1{
    color: #ffffff;
    text-align:center ;
}
section{
    background-color: #ffffff;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}
footer{
    background-color: #eeeeee;
    padding: 15px;
    text-align: center;
}
